h1 {
    color: rgb(253, 188, 7);
    font-size: 50px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h2 {
    color: rgb(81, 7, 253);
    font-size: 40px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h3 {
    color: rgb(253, 7, 110);
    font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h4 {
    color: rgb(7, 253, 40);
    font-size: 20px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}